
# TON Runtime Environment [true for testnet, false for mainnet]
_IS_TEST_ENV=false

#  [!!! keep secret !!!] the mnemonics of the Jetton owner
MNEMONICS_OWNER='<put your mnemonics here>'

# the receiver who will receive the transferred new jetton
TRANSFER_RECEIVER_ADDRESS=UQBv5hkZ6Ty5ipbydwY5gUw-Yq1eb_Cg89l6xIXsRFrNIAwR
